@model Redgum.ServerMonitor.Web.ServerMonitor.Models.ServerModel
@{
    var MissingServices = Model.SystemSettings.MonitoredServices.Where(s => !Model.Services.Any(si => si.Name == s));
}
<div class="row">
    <div class="col-md-12">
        @if (MissingServices.Any())
        {            
            <h3>Missing Windows Services</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var t in MissingServices)
                        {
                            <tr>
                                <td>@t</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        <h3>Windows Services</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Display Name</th>
                        <th>Name</th>
                        <th>State</th>
                        <th>Start Mode</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var t in Model.Services)
                    {
                        if (t.IsWatchedItem && !String.Equals(@t.State, "Running", StringComparison.InvariantCultureIgnoreCase))
                        {
                        <tr class="danger">
                            <td><span rel="tooltip" title="@t.Description">@t.DisplayName</span> @if (t.IsWatchedItem)
                                                                                                 {<span class="glyphicon glyphicon-star"></span>}</td>
                            <td>@t.Name</td>
                            <td>@t.State</td>
                            <td>@t.StartMode</td>
                            <td>@t.Status</td>
                        </tr>
                        }
                        else if (String.Equals(@t.StartMode, "Auto", StringComparison.InvariantCultureIgnoreCase) && !String.Equals(@t.State, "Running", StringComparison.InvariantCultureIgnoreCase))
                        {
                        <tr class="warning">
                            <td><span rel="tooltip" title="@t.Description">@t.DisplayName</span> @if (t.IsWatchedItem)
                                                                                                 {<span class="glyphicon glyphicon-star"></span>}</td>
                            <td>@t.Name</td>
                            <td>@t.State</td>
                            <td>@t.StartMode</td>
                            <td>@t.Status</td>
                        </tr>

                        }
                        else
                        {
                        <tr>
                            <td><span rel="tooltip" title="@t.Description">@t.DisplayName</span> @if (t.IsWatchedItem)
                                                                                                 {<span class="glyphicon glyphicon-star"></span>}</td>
                            <td>@t.Name</td>
                            <td>@t.State</td>
                            <td>@t.StartMode</td>
                            <td>@t.Status</td>
                        </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
